body
{
	font: 14px 微软雅黑;
}

.wrapper
{
	margin: 0 auto;
	width: 900px;
}

/*index.html*/
.content
{
	margin-top: 20px;
}
.official
{
	float: left;
}
.official-context
{
    width: 350px;
    height: 600px;
    background: #dc3c1e;
    float: left;
    box-shadow: 3px 3px 5px #888;
}
.official-font1
{
    position: relative;
    top: 100px;
    left: 60px;
}
.official-font2
{
    position: relative;
    top: 400px;
    left: 60px;
}
.official-font3
{
    
}
.official-aside
{
    float: left;
}
.official-triangle
{
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #dc3c1e;    
    border-bottom: 25px solid transparent; 
    position: relative;
    top: 50px;  
}
.campus
{
	float: left;
}
.campus-context
{
    width: 400px;
    height: 280px;
    background: #fef200;
    float: left;
    box-shadow: 3px 3px 5px #888;
}
.campus-font1
{
    margin:20px 150px 0 30px;
}
.campus-font2
{
    margin:100px 150px 0 23px;
}
.campus-font3
{
    margin:20px 0 0 30px;
}
.campus-aside
{
    float: left;
}
.campus-triangle
{
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid #fef200;    
    border-bottom: 25px solid transparent; 
    position: relative;
    top: 200px;   
}
.welfare
{
    position: relative;
    left: 50px;
	float: left;
}
.welfare-context
{
    width: 400px;
    height: 220px;
    background: #00aeef;
    float: left;
    position: relative;
    top: 50px;
    box-shadow: 3px 3px 5px #888;
}
.welfare-font1
{
    margin:50px 0 0 30px;
}
.welfare-font2
{
    margin:20px 150px 0 30px;
}
.welfare-aside
{
    height: 50px;
}
.welfare-triangle
{
    width: 0;
    height: 0;           
    border-right: 25px solid transparent;
    border-bottom: 50px solid #00aeef; 
    border-left: 25px solid transparent; 
    position: relative;
    left: 300px; 
    top: 50px;  
}

/*official.html*/
.official-header-left
{
    height: 450px;
    background: #a77d24 url("../img/bg_official2.png") no-repeat;
	float: left;
}
.official-header-right
{
	padding: 0 20px 0 0;
	background-color: #a77d24;
    float: left;
}
.official-title1
{
    margin: 15px 0 0 15px;
    float: left;
}
.official-title2
{
    float: left;
}
.official-title3
{
    margin: 320px 0 100px 35px;
    float: left;
}
.official-title4
{
    margin: 330px 0 0 0;
    float: left;
}
.official-content
{
    float: left;
}
.official-content-title
{
    font-size: 19.5px;
    line-height: 30px;
    background-color: #cbb240;
    padding: 0 10px;
    text-shadow: 1px 1px 1px #000;
}
.official-content-content
{
    padding: 10px 10px;
}
.official-content div p div.ptitle
{
	line-height: 10x;
}
.official-content-img
{
    padding: 0 10px;
}
.official-arrow
{
    color: #a77d24;
    text-align: right;
}
.official-left
{
    width: 346px;
    float: left;
}
.official-left ul
{
    margin: 812px 0 0 0 ;
}
.official-left ul li p.official-content-img
{
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px 25px;
    float: left;
}
.official-right
{
    width: 554px;
    float: left;
}
.official-right ul
{
    margin: 330px 0 0 0;
}
.official-right ul li
{
    margin: 20px 0;
    background-color: #fff;
}
.official-right ul li p.official-content-img
{
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    float: left;
}
.official-right ul li div.official-content-content
{
    margin: 0 0 0 220px; 
}
.official-right ul li div.official-content-content p.official-content-title
{
    text-align: right;
}
.official-bottom
{
    width: 900px;
    float: left;
}
.official-bottom ul li
{
    height: 200px;
    margin: 20px 0;
}
.official-bottom ul li p.official-content-img
{
    background-color: #f0f0f0;
    margin: 10px;
    padding: 20px 10px;
    float: left;
}
.official-bottom ul li div.official-content-content
{
    width: 640px;
    float: left;
}
.official-bottom ul li div.official-content-content p.official-content-title
{
    width: 400px;
}
.official-content-content div
{
    margin: 0 10px;
    border-bottom: 1px solid #ebebea;
    border-left: 1px solid #ebebea;
    border-right: 1px solid #ebebea;
    padding: 5px 10px;
}
a.official-file
{
    color: #a77d24;
}


/*campus.html*/
.body-campus
{
    background: #fff url("../img/bg_campus.png") repeat;
}
.campus-title1
{
    width: 900px;
    height: 70px;
    background-color: #454345;
    box-shadow: 3px 3px 5px #888;
}
.campus-title1 div
{
    width: 245px;
    height: 45px;
    background-color: #696969;
    margin: 0px 0 0 655px;
}
.campus-title1 div img
{
    margin: 5px 0 0 60px;    
}
.campus-title2
{
    width: 900px;
    height: 470px;
    background: #fff url("../img/campus_title2.png") no-repeat;
    box-shadow: 3px 3px 5px #888;
}
.campus-title2 img
{
    margin: 50px 0 0 450px;
}
.campus-content
{
    width: 225px;
    box-shadow: 3px 3px 5px #888;
    float: left;
}
.campus-content-title
{
    color: #fff;
    background-color: #4c4c4c;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #6b6b6a;
}
.campus-content-content
{
    height: 670px;
    border: 1px solid #6b6b6a;
}
.campus-content div.cc1
{
    background: #fff url("../img/campus_c1.png") no-repeat;
}
.campus-content div.cc2
{
    background: #fff url("../img/campus_c2.png") no-repeat;
}
.campus-content div.cc3
{
    background: #fff url("../img/campus_c3.png") no-repeat;
}
.campus-content div.cc4
{
    background: #fff url("../img/campus_c4.png") no-repeat;
}
.dark-float1
{
    display: none;
    width: 225px;
    height: 400px;
    background-color: #999;
    opacity: 0.3;
}
.dark-float2
{
    display: none;
    color: #000;
    width: 225px;
    height: 270px;
    background-color: #999;
    opacity: 0.8;
}

/*welfare.html*/
.welfare-title1
{
    height: 99px;
    background: #fff url("../img/welfare_title1.jpg") no-repeat;
}
.welfare-title2
{
    height: 220px;
    background: #fff url("../img/welfare_title2.jpg") no-repeat;
}
.welfare-title3
{
    height: 91px;
    background: #fff url("../img/welfare_title3.png") no-repeat;
}
.welfare-title2 img
{
    position: relative;
    left: 80px;
}
.welfare-content
{
    margin-top: 0px;
}
.welfare-content-left
{
    width: 78px;
    height: 572px;
    background: #fff url("../img/bg_welfare1.jpg") no-repeat;
    float: left;
}
.welfare-content-right
{
    width: 76px;
    height: 572px;
    background: #fff url("../img/bg_welfare2.png") no-repeat;
    float: left;
}
.welfare-content-content
{
    width: 746px;
    height: 600px;
    position: relative;
    top: -80px;
    left: 20px;
    float: left;
}
.welfare-content-content-box
{
    width: 717px;
    float: left;
}
.welfare-content-content div.wcb3
{
    border-bottom: 1px solid #34571f;
}
.welfare-content-content-title
{
    width: 200px;
    line-height: 35px;
    font-size: 20px;
    padding: 0 20px;
    background-color: #d0e3a9;
    border-radius:10px;
    box-shadow: 3px 3px 5px #888;
}
.welfare-content-content-img
{
    width: 236px;
    height: 162px; 
    margin: 10px 0;   
    float: left;
}
.welfare-content-content-box div.wci1
{
    background: #fff url("../img/welfare_c1_co.png") no-repeat;
}
.welfare-content-content-box div.wci2
{
    background: #fff url("../img/welfare_c2_co.png") no-repeat;
}
.welfare-content-content-box div.wci3
{
    background: #fff url("../img/welfare_c3_co.png") no-repeat;
}
.welfare-content-content-box div.wci4
{
    background: #fff url("../img/welfare_c4_co.png") no-repeat;
}
.welfare-content-content-box div.wci5
{
    background: #fff url("../img/welfare_c5_co.png") no-repeat;
}
.welfare-content-content-box div.wci6
{
    background: #fff url("../img/welfare_c6_co.png") no-repeat;
}
.welfare-content-content-box div.wci7
{
    background: #fff url("../img/welfare_c7_co.png") no-repeat;
}
.welfare-content-content-box div.wci8
{
    background: #fff url("../img/welfare_c8_co.png") no-repeat;
}
.welfare-content-content-box div.wci9
{
    background: #fff url("../img/welfare_c9_co.png") no-repeat;
}
.wel-float1
{
    display: none;
    width: 236px;
    height: 132px;
    background-color: #999;
    opacity: 0.3;
}
.wel-float2
{
    display: none;
    width: 236px;
    color: #000;
    line-height: 30px;
    background-color: #999;
    opacity: 0.8;
}

/*surprise.html*/
.surprise-father
{
	width: 650px;
	height: 150px;
    margin: 50px 0 0 100px;
    font-size: 40px;
    line-height: 150px;
	float: left;
}
.surprise
{
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #888;
}
.surprise-snc
{
	width: 400px;
    background-color: #dc3c1e;
	color: #000;
	margin: 0 25px 0 0;
	float: left;
}
.surprise-snc-recruitment
{
	width: 200px;
    background-color: #dc3c1e;
	color: #000;
	margin: 0 0 0 25px;
	float: left;
}
.surprise-sicun
{
	width: 400px;
    background-color: #fef200;
	color: #000;
	margin: 0 25px 0 0;
	float: left;
}
.surprise-sicun-recruitment
{
	width: 200px;
    background-color: #fef200;
	color: #000;
	margin: 0 0 0 25px;
	float: left;
}
.surprise-zuiwan
{
	width: 650px;
    background-color: #00aeef;
}
#staff
{
    width: 600px;
    height: 400px;
}
.staff
{
    width: 400px;
    height: 100px;
    margin: 20px auto;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #888;
}
.staff1
{
    background-color: #dc3c1e;
}
.staff2
{
    background-color: #fef200;
}
.staff3
{
    background-color: #00aeef;
}



/*跳转侧栏*/
.goto
{
    position:fixed;
    width: 20px;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 3px 3px 5px #888;
}
.go-surprise
{ 
	color: #000;
    background-color: #dc3c1e; 
	text-align: center;
	width: 130px;
	position:fixed;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 3px 3px 5px #888;
}
.go-tongji
{
    color: #fff;
    background-color: #00aeef; 
	text-align: center;
	width: 130px;
	position:fixed;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    font-size: 24px;
    box-shadow: 3px 3px 5px #888;
}
.go-official
{    
    color: #fff;
    background-color: #dc3c1e; 
}
.go-campus
{
    color: #000;
    background-color: #fef200;
}
.go-welfare
{
    color: #fff;
    background: #00aeef;
}
.go-index
{
    color: #fff;
    background-color: #dc3c1e; 
}
.creative-staff
{
    color: #000;
    background-color: #fef200;
}

#uyan_frame
{
	width: 800px;
	margin: 30px;
}


.footer
{
    padding: 25px 0 0 0;
    text-align: center;
    color: #666;
}
.footer a
{
	color: #666;
}
.footer a:hover
{
	text-decoration: underline;
	color: #111;
}
